/* Reset and base layout */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #01052b;
  color: #4d4d4d;
  /* line-height: 1.4em; */
}

/* Center the body
html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
} */

/* Header (outside the app) */

.title {
  font-size: 60px;
  font-weight: 600;
  color: #b13b3b;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.todos-section {
  width: 600px;
  max-width: 90%;
  margin: 50px auto;
  padding: 20px;
  background-color: #12225a88;
  backdrop-filter: blur(15px);
  border-radius: 6px;
  box-shadow: 0 0 4px #000211, 0 0 4px #000211;
}

/* Input section */
.enterTodos {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.enterTodos input {
  flex: 1;
  padding: 0.7rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-btn {
  padding: 0.7rem 1.2rem;
  font-size: 16px;
  font-weight: 600;
  background-color: #095a06;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
}

.add-btn:hover {
  background-color: #247221;
}

/* Todos list */
.todos ul {
  list-style: none;
  padding: 0;
}

.todos li {
  width: 100%;
  border-bottom: 1px solid #ededed;
  padding: 1rem 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #ccc;
  font-size: 16px;
  font-weight: 400;
  word-break: break-all;
}

.todos input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
}

.complated {
  color: #4d4d4d !important;
  text-decoration: line-through !important;

}

/* Footer buttons */
.btns-section {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
}

.btns-section span {
  flex: 1 1 100%;
  text-align: center;
  color: #777;
  font-size: 0.9rem;
}

button {
  padding: 0.5rem 1rem;
  justify-content: space-between;
  font-size: 0.9rem;
  border: 1px solid transparent;
  background: #e6e6e6;
  cursor: pointer;
  border-radius: 40px;
}

button:hover {
  border-color: black;
  background-color: #1dd816;
}
